h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
    display: flex;
  justify-content: center;
  align-items: center;
}

h2{
    display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
    display:block;
    width:170px;
    height:20px;
    text-indent:5px;
    float:left;
    text-align:center;
    background-color:#339900;
    border:1px #006633 inset;
}

input{
    width:170px;
    height:20px;
}

  